{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <header class="p-3 dashboard-header">
        <img src="{{ asset('build/images/logo.png') }}" class="site-logo" alt="Crypto Tracker Logo">
        <div class="dashboard-actions">
            <a href="{{ path('edit_transaction') }}" class="edit-transaction"><img src="{{ asset('build/images/edit.png') }}" class="dashboard-action-icon" alt="Ajout"></a>
            <a href="{{ path('create_transaction') }}" class="create-transaction"><img src="{{ asset('build/images/add.png') }}" class="dashboard-action-icon" alt="Modification"></a>
        </div>
    </header>
    <hr class="header-border">
    <div class="total-earnings">
        <a class="total-earnings-link" href="{{ path('earnings') }}">{{ earnings }} €</a>
    </div>
    <div class="page-content dashboard">
        <div class="transactions-list">
            {% for transaction in transactions %}
                <div class="transaction">
                    <div class="left-section">
                        <img src="{{ asset('build/images/' ~ transaction.crypto.logo ~ '') }}" alt="{{ transaction.crypto.symbol }}">
                        <div>
                            <span class="crypto-symbol">{{ transaction.crypto.symbol }}</span> 
                            <span class="crypto-name">({{ transaction.crypto.name }})</span>
                        </div>
                    </div>
                    {% if transaction.getTrend == 2 %}
                        <img src="{{ asset('build/images/double_arrow.png') }}" alt="Trend icon">
                    {% elseif transaction.getTrend == -1 %}
                        <img src="{{ asset('build/images/arrow_down.png') }}" alt="Trend icon">
                    {% elseif transaction.getTrend == 1 %}
                        <img src="{{ asset('build/images/arrow.png') }}" alt="Trend icon">
                    {% endif %}                
                </div>
            {% endfor %}
        </div>

        <div class="auth-nav-link dashboard">
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    </div>


{% endblock %}
