{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <header class="p-3 dashboard-header">
        <img src="{{ asset('build/images/logo.png') }}" class="site-logo" alt="Crypto Tracker Logo">
        <div class="dashboard-actions">
            <a href="{{ path('edit_transaction') }}" class="edit-transaction"><img src="{{ asset('build/images/edit.png') }}" class="dashboard-action-icon" alt="Ajout"></a>
            <a href="{{ path('create_transaction') }}" class="create-transaction"><img src="{{ asset('build/images/add.png') }}" class="dashboard-action-icon" alt="Modification"></a>
        </div>
    </header>
    <hr class="header-border">
    <div class="page-content">
        <div class="auth-nav-link">
            <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    </div>


{% endblock %}
