{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <header class="p-3 text-center form-header">
        <a href="{{ path('dashboard') }}"><img src="{{ asset('build/images/cancel.png') }}" class="close" alt="Close"></a>
        <h2 class="page-title text-center">{{ page_title }}</h2>
    </header>
    <hr class="header-border">
    <div class="page-content">
        <form action="" method="post">
            <div class="form-inputs">

                <div class="input-group">
                    <img src="{{ asset('build/images/search.png') }}" class="form-icon" alt="Recherche de crypto">
                    <select id="crypto" name="crypto" class="crypto-form-input">
                        <option value="">Sélectionner une crypto</option>
                        {% for crypto in crypto_listing %}
                            <option value="{{ crypto.id }}">{{ crypto.symbol }} ({{ crypto.name }})</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="input-group">
                    <img src="{{ asset('build/images/quantity.png') }}" class="form-icon" alt="Quantité">
                    <input type="number" id="quantity" name="quantity" class="crypto-form-input" placeholder="Quantité"/>
                </div>
                
                <div class="input-group">
                    <img src="{{ asset('build/images/euro.png') }}" class="form-icon" alt="Euro">
                    <input type="number" id="price" name="price" class="crypto-form-input" placeholder="Prix d'achat"/>
                </div>
                
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('add_transaction') }}">
            </div>

            <button class="form-submit" disabled type="submit">Ajouter</button>
        </form>
    </div>
{% endblock %}
