{% extends 'base.html.twig' %}

{% block title %}Supprimer un montant{% endblock %}

{% block body %}
    <header class="p-3 text-center form-header">
        <a href="{{ path('dashboard') }}"><img src="{{ asset('build/images/cancel.png') }}" class="close" alt="Close"></a>
        <h2 class="page-title text-center">Supprimer un montant</h2>
    </header>
    <hr class="header-border">
    <div class="page-content">
        {{ form_start(form) }}
            <div class="form-inputs">
                <div class="input-group">
                    <img src="{{ asset('build/images/search.png') }}" class="form-icon" alt="Recherche de crypto">
                    {{ form_row(form.crypto) }}
                </div>
                <div class="input-group">
                    <img src="{{ asset('build/images/quantity.png') }}" class="form-icon" alt="Quantité">
                    {{ form_row(form.quantity) }}
                </div>
            </div>
            <button class="form-submit" type="submit">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}